In [14]:
#List of high schools
high_schools = ["Huang High School", "Figeroa High School", "Shelton High"]

In [15]:
#Add the Pandas Dependency
import pandas as pd

In [16]:
# Create a Pandad Series from a list.
school_series = pd.Series(high_schools)
school_series

0      Huang High School
1    Figeroa High School
2           Shelton High
dtype: object

In [28]:
#Add the Pandas Dependency
import pandas as pd

In [32]:
#A dictionary of high schools
high_schools_dicts = [{"School ID" : 0, "school name": "Huang High School"},
                    {"School ID" : 1, "school name": "Figueroa High School"}, 
                     {"School ID" : 2, "school name": "Shelton High School"},
                      {"School ID" : 3, "school name": "Hernandez High School},
                      {"School ID" : 4, "school name": "Griffin High School"}]

In [33]:
school_df = pd.DataFrame(high_schools_dicts)
school_df

   School ID            school name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [ ]:
#Three seperate lists of information on high schools
school_id = [0,1,2,3,4]

school_names = ["Huang High School", "Figeroa High School", "Shelton High","Hernandez High School", "Griffin High School"]

types_of_school = ["District", "District","Charter", "Distritct", "Charter"]

In [ ]:
#Initialize a new Dateframe
school_df = pd.DataFrame()

In [34]:
#Add the list to a new Dateframe
school_df["School"] = school_id
school_df["School Name"] = school_name
school_df["Type"] = type_school

#Print the DataFrame
school_df

NameError: name 'school_id' is not defined